@import '../../../../styles/common.scss';

.talkTitle {
  padding: 12px 15px;
  background-color: #F3F3F3;
  border-left: 3px solid #1D9B9B;
  font-size: 16px;
  color: gray;

  span {
    color: rgb(250, 91, 17);
  }
}

.ant-divider-inner-text {
  color: rgb(104, 102, 102);
  font-size: 18px;
}

.talkMain {
  border: 1px solid #F3F3F3;
  border-top: none;
  margin-top: -28px;
  padding: 30px 40px;
  font-size: 15px;
  color: rgb(104, 102, 102);
}

.mainTitle {
  padding-bottom: 10px;
}

.mainContent {
  position: relative;
  text-align: center;
  margin-top: 20px;

  h4 {
    color: black;
    font-weight: 600;
  }
}

.gonggaoArea {
  width: 100%;
  height: 200px;
  resize: none;
  border-color: #ddd;
  outline: none;
}

.fabuBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 3px;
}