@import '~antd/dist/antd.css';
body {
    margin: 0;
    font-family: '微软雅黑';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
}

a {
  text-decoration: none;
  color: #fff;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

@mixin  displayFlex($a, $b, $c) {
  display: flex;
  flex-direction: $a;
  justify-content: $b;
  align-items: $c;
}