@import '../../../../styles/common.scss';

.historyHeader {
  display: flex;
  font-size: 17px;
  background-color: #717980;

  .historyBox {
    color: #fff;
    border-left: 1px solid gray;
    padding: 10px 0 10px 15px;
    flex: 1;
    text-align: left;

    &:nth-child(1) {
      border: none;
    }
  }
}

.historyMain {
  border: 1px solid rgb(211, 210, 210);
}
.mainRow {
  @include displayFlex(row, center, center);

  div {
    text-align: left;
    flex: 1;
    padding: 10px;
    padding-left: 15px;
  }
}

.caozuo {
  display: flex;
}