@import '../../styles/common.scss';

.headerBox {
  width: 100%;
  height: 70px;
  background-color: #fff;
  box-shadow: 0 5px 5px rgb(250, 241, 241);
  @include displayFlex(row, center, center);

  .container {
    width: 80%;
    height: 50%;
    @include displayFlex(row, space-between, center);

    .center {
      .navItem {
        margin: 0 50px;
        transition: all .5s;

        &:hover {
          color: #3EB4FA;
          border-bottom: 3px solid #3EB4FA;
          cursor: pointer;
        }
      }
    }
  }
}

.left {
  a {
    color: #000;
    transition: all .5s;
    font-size: 24px;

    &:hover {
      color: #3EB4FA;
      border-bottom: 3px solid #3EB4FA;
    }
  }
}