@import '../../styles/common.scss';

.showBox {
  margin-top: 15px;

  .container {
    width: 80%;
    margin: 0 auto;

    h1 {
      border-bottom: 1px dashed #aaa;
    }
  }

  .main {
    display: flex;
  }

  .show-left {
    flex: 1;
    margin-right: 40px;

    .leftText {
      color: #555;
      border-bottom: 1px solid #bbb;
      padding: 10px 0;
      font-weight: 600;

      span:hover {
        cursor: pointer;
        color: red;
      }
    }
    
    .red {
      border-bottom: 1px solid red;
      color: red;
    }
  }

  .show-right {
    flex: 3;
  }
}