@import '../../styles/common.scss';

.loginBox {
  height: 100vh;
  background-color: #92DEFE;
  @include displayFlex(row, center,center);
}

.loginContent {
  @include displayFlex(row, space-between, center);
}

.loginRight {
  position: relative;
  width: 380px;
  height: 340px;
  margin-left: 100px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 7px;

  .loginUser {
    position: absolute;
    top: -55px;
    left: 130px;
  }

  h2 {
    font-size: 23px;
    margin-top: 60px;
    text-align: center;
  }

  .loginForm {
    width: 64%;
    margin: 0 auto;
    margin-top: 50px;

    .loginBtn {
      width: 77px;
      height: 37px;
      background-color: #009789;
      margin-left: 35%;
      border-radius: 5px;
    }
  }
}

.toApp {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
}